<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title>ELF Video Template</title>

  <!-- 不要删除或改变下面这行代码 -->
  {{{__HEAD_JAVASCRIPT__}}}
</head>

<body>
  <div id="o2_loading" class="loading">
    <div class="btns">
      <a class="btn begin">开始播放视频</a>
    </div>
  </div>
  <div id="o2_main" class="main">
    <div class="wrapper">
      <video id="video" class="video" preload="auto" playsinline src="http://wqs.jd.com/promote/superfestival/superfestival.mp4" width="1" height="1" type="video/mp4"></video>
    </div>
    <div class="btns control">
      <a class="btn continue">继续</a>
      <a class="btn skip">跳过</a>
    </div>
    <div class="poster"></div>
  </div>
  <div id="o2_end" class="end hide">
    <div class="btns">
      <a class="btn replay">再看一次</a>
    </div>
  </div>
  <div class="tip"></div>
</body>

</html>
