.share_mask{
  -webkit-user-select:none;
  user-select:none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.9);
  .ignore-arrow{
    background-image: url('../../common/img/icon/share.png');
    width: 182px;
    height: 247px;
    position: absolute;
    right: 50px;
    top: 70px;
    animation: arrowAni 1.2s infinite ease-in-out;
  }
  em{
    font-size: 28px;
    position: absolute;
    width: 300px;
    height: 100px;
    right: 100px;
    top: 70px;
    text-align: center;
    color: #ccc;
  }
}
@keyframes arrowAni{
  0%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50%{
    transform: translate3d(10px, -50px, 0) rotate(-10deg);
  }
  100%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes arrowAni{
  0%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50%{
    transform: translate3d(-10px, -50px, 0) rotate(-10deg);
  }
  100%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}