@charset "UTF-8";
@import "../../common/css/base/base.scss";

/* 添加横屏提示组件 */
@import "../../common/css/landscape/style.scss";

/* 添加Loading组件 */
@import "../../common/css/loading/style.scss";

body {
   overflow: hidden;
   font-size: 30px;
   background-color: #363535;
}  

.audio{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9;
  width: 100px; 
  height: 100px;
  &:before{
    content: '';
    background-image: url(../img/icon/audio_on.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.off{
    &:before{
      background-image: url(../img/icon/audio_off.png);
    }
  }
}

/* 箭头 */
.arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -11px;
    border: 3px solid transparent;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    z-index: 99;
    opacity: .8;
    -webkit-transform: rotate(45deg);
    -webkit-animation: arrow 1.5s infinite ease-in-out;
}
 
@-webkit-keyframes arrow {
  0% {
    opacity:0;
    -webkit-transform:translate(0, 0px) rotate(45deg)
    }
    50% {
    opacity:1;
    -webkit-transform:translate(0, -5px) rotate(45deg)
    }
    100% {
    opacity:0;
    -webkit-transform:translate(0, -10px) rotate(45deg)
  }
}

/* share mask*/
.share_mask{
  -webkit-user-select:none;
  user-select:none;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(0,0,0,0.9);
  .ani-arrow{
    background-image: url('../img/icon/share.png');
    width: 182px;
    height: 247px;
    position: absolute;
    right: 50px;
    top: 70px;
    animation: arrowAni 1.2s infinite ease-in-out;
  }
  em{
    font-size: 28px;
    position: absolute;
    width: 300px;
    height: 100px;
    right: 100px;
    top: 70px;
    text-align: center;
    color: #ccc;
  }
}
@keyframes arrowAni{
  0%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50%{
    transform: translate3d(10px, -50px, 0) rotate(-10deg);
  }
  100%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes arrowAni{
  0%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50%{
    transform: translate3d(-10px, -50px, 0) rotate(-10deg);
  }
  100%{
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .page{
      display: none;
    }
}
.swiper-slide-active{
  .page{
    display: block;
  }
}
.page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .tit{
    margin-top: 10px;
    color: #fff;
  }
}


.slider{
  width: 100%;
  height: 100%;
  .slider-card{
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    display: none;
    &.slider-active{
      display: block;
    }
    &.slider-out{
      .iris{
        animation: ani-scaleto1 0.5s 0s 1 linear;
        animation-fill-mode: forwards;
      }
    }
    &.slider-in{
      .iris{
        animation: ani-scaleto0 0.5s 0s 1 linear;
        animation-fill-mode: forwards;
      }
    }
  }
}


.iris{
  width: 2000px;
  height: 2000px;
  background: #fff;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1000px 0 0 -1000px;
  &.iris0{
    transform: scale(0);
  }
  
}

@keyframes ani-scaleto1 {
  0% {
    transform:scale3d(0,0,0)
  }
  100% {
    transform:scale3d(1,1,1)
  }
}

@keyframes ani-scaleto0 {
  0% {
    transform:scale3d(1,1,1)
  }
  100% {
    transform:scale3d(0,0,0)
  }
}