@charset "UTF-8";
@import "./base.css";
@import "./loading.scss";

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    .title {
        height: 400px;
        line-height: 400px;
        font-size: 48px;
        text-align: center;
    }
    .logo {
        text-align: center;
        img {
            width: 512px;
            height: 512px;
        }
    }
}
