<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title>ELF Switcher Template</title>

  <!-- 不要删除或改变下面这行代码 -->
  {{{__HEAD_JAVASCRIPT__}}}

</head>

<body>
  <!-- begin loading 动画，对应的样式在 src/css/loading.scss -->
  <div id="o2_loading" class="loading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <!-- end loading -->
  <!-- begin 主体内容 -->
  <div id="o2_main" class="main hide">
    <div class="swiper-container" id="o2_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide home">
          <div class="page">
            <div class="home-1"></div>
            <div class="home-2"></div>
            <div class="home-3"></div>
            <div class="home-4"></div>
            <img class="home-txt" src="./img/home-txt.png" preload></img>
            <i class="arrow arrow-w"></i>
          </div>
        </div>
        <div class="swiper-slide meet meet1">
          <div class="page">
            <div class="meet-1"></div>
            <div class="meet-2 subtitle"></div>
            <img class="meet-bubble" src="./img/bubble-w.png" preload></img>
            <div class="meet-pic">
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <img class="meet-coffee" src="./img/coffee.png" preload></img>
            </div>
            <img class="meet-txt-1" src="./img/meet-txt-1.png" preload></img>
            <i class="arrow arrow-w"></i>
          </div>
        </div>
        <div class="swiper-slide meet meet2">
          <div class="page">
            <div class="meet-1"></div>
            <div class="meet-2 subtitle"></div>
            <img class="meet-bubble" src="./img/bubble-w.png" preload></img>
            <div class="meet-pic air-active">
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <i>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28.1 80.6" style="enable-background:new 0 0 28.1 80.6;" xml:space="preserve">
                  <path class="" fill="none" stroke="#fc2441" stroke-width="11" stroke-linecap="round" stroke-miterlimit="10" d="M22.6,75.1c-8-5.6-15.2-10.5-15.2-19.9c0-12.1,14.1-17.2,14.1-29.6c0-9.1-6.7-15.7-16-20.1"></path>
                </svg>
              </i>
              <img class="meet-coffee" src="./img/coffee.png" preload></img>
            </div>
            <img class="meet-txt-2" src="./img/meet-txt-2.png" preload></img>
            <i class="arrow arrow-w"></i>
          </div>
        </div>
        <div class="swiper-slide city">
          <div class="page">
            <div class="city-1"></div>
            <div class="city-2 subtitle"></div>
            <div class="city-map">
              <span>哈尔滨<i class="red-dot-flash"></i></span>
              <span>沈阳<i class="red-dot-flash"></i></span>
              <span>北京<i class="red-dot-flash"></i></span>
              <span>青岛<i class="red-dot-flash"></i></span>
              <span>南京<i class="red-dot-flash"></i></span>
              <span>上海<i class="red-dot-flash"></i></span>
              <span>厦门 泉州<i class="red-dot-flash"></i></span>
              <span>东莞<i class="red-dot-flash"></i></span>
              <span>深圳<i class="red-dot-flash"></i></span>
              <span>广州<i class="red-dot-flash"></i></span>
              <span>武汉<i class="red-dot-flash"></i></span>
              <span>郑州<i class="red-dot-flash"></i></span>
              <span>西安<i class="red-dot-flash"></i></span>
              <span>兰州<i class="red-dot-flash"></i></span>
              <span>成都<i class="red-dot-flash"></i></span>
              <span>昆明<i class="red-dot-flash"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end 主体内容 -->
</body>

</html>
