<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title>ELF Base Template</title>

  <!-- 不要删除或改变下面这行代码 -->
  {{{__HEAD_JAVASCRIPT__}}}

</head>

<body>
  <!-- begin loading 动画，对应的样式在 src/css/loading.scss -->
  <div id="o2_loading" class="loading">
    <div class="inner">
      <i class="before"></i>
      <i class="after"></i>
    </div>
    <div class="text">loading</div>
  </div>
  <!-- end loading -->
  <!-- begin 主体内容 -->
  <div id="o2_main" class="main hide">
    <div class="info">
      <p class="name">elf</p>
      <img class="version" src="https://img.shields.io/npm/v/elf-cli.svg?style=flat-square" preload/>
    </div>
  </div>
  <!-- end 主体内容 -->
</body>

</html>
