@charset "UTF-8";
@import "../../common/css/base/base.scss";

/* 添加横屏提示组件 */
@import "../../common/css/landscape/style.scss";

/* 添加Loading组件 */
@import "../../common/css/loading/style.scss";

/* 添加分享组件 */
@import "../../common/css/sharemask/style.scss";

body {
   overflow: hidden;
   font-size: 30px;
   background-color: #363535;
}  

.audio{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9;
  width: 100px; 
  height: 100px;
  &:before{
    content: '';
    background-image: url(../img/icon/audio_on.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.off{
    &:before{
      background-image: url(../img/icon/audio_off.png);
    }
  }
}

.btn{
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: #A5DE37;
  text-align: center;
  line-height: 60px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #A5DE37;
}
/* 箭头 */
.arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -11px;
    border: 3px solid transparent;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    z-index: 99;
    opacity: .8;
    -webkit-transform: rotate(45deg);
    -webkit-animation: arrow 1.5s infinite ease-in-out;
}
 
@-webkit-keyframes arrow {
  0% {
    opacity:0;
    -webkit-transform:translate(0, 0px) rotate(45deg)
    }
    50% {
    opacity:1;
    -webkit-transform:translate(0, -5px) rotate(45deg)
    }
    100% {
    opacity:0;
    -webkit-transform:translate(0, -10px) rotate(45deg)
  }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .page{
      display: none;
    }
}
.swiper-slide-active{
  .page{
    display: block;
  }
}
.page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .tit{
    margin-top: 10px;
    color: #fff;
  }
  &.page0{
    .logo{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      margin: -100px 0 0 -100px;
      img{
        width: 100%;
      }
    }
  }
  &.page1{
    text-align: center;
    .clollection{
      width: 70%;
      margin: 100px auto;
      .btn{
        margin: 50px 20px 0 0;
      }
    }
  }
  &.page2{
    .ignore-wrj{
      background-image: url(../img/wrj.png);
      width: 300px;
      height: 336px;
      position: absolute; 
      left: 50%;
      top: 20%;
      margin: -150px 0 0 -168px;
      animation: ani-wrj 2.2s steps(42) infinite; 
      transform: scale(.99)
    }
    .wrj_canvas{
      width: 300px;
      height: 336px;
      position: absolute; 
      left: 50%;
      top: 60%;
      margin: -150px 0 0 -168px;
    }
  }
  &.page3{
    section {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -250px 0 0 -300px;
    }

    /* Logo */

    .logo-anime {
      width: 600px;
      height: 300px;
      opacity: 0;
      position: relative;
      font-size: 8px;
    }

    #fills * {
      opacity: 0;
      mix-blend-mode: lighten;
    }

    #line-i-1 {
      transform-origin: 30em 8em;
    }

    /* Fireworks */

    .fireworks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.page4{
    #tip{
      position: absolute;
      top:30%;
      text-align: center;
      color: #fff;
      width: 100%;
    }
  }
  &.page5{
    #touchBlock{
      position: absolute;
      top:30%;
      text-align: center;
      color: #fff;
      background: deepskyblue;
      width: 60%;
      height: 300px;
      line-height: 300px;
      left: 20%;
    }
  }
  &.page6{
    .o2-loading{
      width: 200px;
      height: 200px;
      position: absolute;
      top: 30%;
      left: 40%;
      .bubble{
        width: 100%;
        height: 100%;
      }
    }
    .loading_mask{
      position: absolute;
      left: 0px;
      top: 0px;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      overflow: hidden;
      z-index: 2;
      .wave{
        background-color: #FC2443;
        width: 100%;
        height: 57%;
        position: relative;
        z-index: 1;
        //transition: transform .2s linear;
        i{
          position: absolute;
          bottom: -47px;
          left: 0px;
          width: 100%;
          display: block;
          background-image: url(../img/wave.png);
          background-size: auto 100%;
          background-position: 0 100%;
          background-repeat: repeat-x;
          height: 49px;
          animation: ani-wave 200s 0s infinite linear;
        }
      }
    }
  }
}

@keyframes ani-wrj {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 12600PX 0;
    }
}

@keyframes ani-wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 12600PX 0;
    }
}